@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600;700&family=Gelasio:wght@400;500;600;700&family=Inter:wght@400;500;600;700;800&family=Lato:wght@100;400;700&family=Open+Sans:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

// Colors

$color-red: #f50103;
$color-white: white;
$color-black: black;
$color-gray: #303030;
$color-orange: #f55529;
$color-content: rgba(206, 198, 198, 0.85);
$color-greyish: #949494;
$color-white-gray: #f1f1f1;
$color-white-greyish: #d6d6d7;

// Fonts

$font-lato: 'Lato', sans-serif;
$font-open: 'Open Sans', sans-serif;
$font-work: 'Work Sans', sans-serif;
$font-inter: 'Inter', sans-serif;
$font-gelasio: 'Gelasio', serif;
$font-Corm: 'Cormorant', serif;
